{% extends 'base.html' %}
{% load static %} 
{% block title %} About {% endblock %}
{% block forgot %}  {% endblock %}
{% block about %}   
 <div class="container-fluid pt-3">
 <div class="bg-transparent my-1 p-3 pt-3 border border-warning border-5 rounded-4 w-75"> 
 <h1 style="color: red; padding: 5px;">Welcome to Cybrom</h1>
 <span style="color:green; font-size: 30px;"> 
Our mission is to bridge the gap between skills in-demand and skills <br> imparted by the traditional institutions. Our courses focus to prepare <br> students in ensuring that they are ready to become Leaders of The Future.
</span>
  </div>
</div>
 {% endblock %}
 {% block mainbody %} {% endblock %}

 

