{% extends 'base.html' %}
{% load static %} 
{% block title %} Contact Us {% endblock %}
<!-- Courses -->
{% block forgot %}  {% endblock %}
{% block contact %}
 <div class="container-fluid pt-3">
 <div class="bg-transparent my-1 p-3 pt-3 border border-warning border-5 rounded-4" style="width: 90%;">
 <h1 style="color: red; padding: 5px;">Cybrom Technology Pvt. Ltd.</h1>

 <span style="font-size:40px; color: blue; padding:5px;"> Address &#160 &#160 :- </span> <span style="font-size:30px;"> 185, Zone-I, Maharana Pratap Nagar, Bhopal, Madhya Pradesh 462011 </span> <br>
  <span style="font-size:40px; color: blue; padding:5px;"> Mobile No :- </span> <span style="font-size:30px;"> +91 97559 96968 </span><br>
    <span style="font-size:40px; color: blue; padding:5px;">Email Id&#160 &#160 &#160 :- </span> <span style="font-size:30px;"> info@cybrom.com </span>
  </div>
</div>
 {% endblock %}

 {% block mainbody %} {% endblock %}