{% extends 'base.html' %}
{% load static %} 
{% block title %} Our Courses {% endblock %}
<!-- Courses -->
{% block forgot %}  {% endblock %}
<!-- Courses -->
  {% block course %}
<div class="container-fluid text-center pt-2 border-danger border-2 m-1 p-1">
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
    <div class="col">
      <div class="p-1 border border-danger bg-white rounded-4">
        <h3 style="color:red">PYTHON</h3>
        <div class="p-3 border mt-1 rounded-4" style="background:#19403e; color:white;">Advance Certification In Python</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Advance Python</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Campus Connect Python</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Diploma In Python</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Python Intermediate Program</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Advance Diploma In Python</div>
      </div>
    </div>
    <div class="col">
      <div class="p-1 border border-danger bg-white rounded-4">
        <h3 style="color:red">JAVA</h3>
        <div class="p-3 border mt-1 rounded-4" style="background:#19403e; color:white;">Advance Certification In Java</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Advance Java</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Java</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Java</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Java</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Java</div>
      </div>
    </div>
    <div class="col">
      <div class="p-1 border border-danger bg-white rounded-4">
        <h3 style="color:red">DS & Machine Learning</h3>
        <div class="p-3 border mt-1 rounded-4" style="background:#19403e; color:white;">Advance Certification In Machin Learning</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Advance in Machine Learning </div>
        <div class="p-3 border bg-light mt-1 rounded-4">Machine Learning</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Machine Learning</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Machine Learning</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Machine Learning</div>
      </div>
    </div>
    <div class="col">
      <div class="p-1 border border-danger bg-white rounded-4">
        <h3 style="color:red">Cyber Security</h3>
         <div class="p-3 border mt-1 rounded-4" style="background:#19403e; color:white;">Advance Certification In Cyber Security</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Advance Cyber Security</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Cyber Security</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Cyber Security</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Cyber Security</div>
        <div class="p-3 border bg-light mt-1 rounded-4">Cyber Security</div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mainbody %} {% endblock %}


 <!-- My Bordy Part-->


