{% load static %}
<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
     $("#menuoption").show();
     $("#marks").hide();
     $("#showadmin").hide();  
     $("#enrollfac").hide();  
     $("#student").hide();
     $("#entmark").hide();
     $("#form1").hide();
     $("#contact").hide();
     $("#enrollstu").hide();
     $("#enrolladmin").hide();
     $("#showfac").hide();
     $("#addadmin").hide();
     $("#course").hide();
     $("#contact").hide();
     $("#info").hide();
     $("#admprofile").hide();
     $("#stuprofile").hide();
      $("#showmarks").hide();
     $("#btnmarks").click(function(){
      $("#marks").toggle(10);
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#showfac").hide();
      $("#showadmin").hide();
      $("#enrolladmin").hide(); 
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnstudent").click(function(){
      $("#form1").toggle(10);
      $("#marks").hide();
      $("#entmark").hide();;
      $("#student").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#showfac").hide();
      $("#showadmin").hide(); 
      $("#enrolladmin").hide(); 
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnentermark").click(function(){
      $("#entmark").toggle(10);
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#showfac").hide();
      $("#showadmin").hide();
      $("#enrolladmin").hide(); 
      $("#addadmin").hide(); 
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnenroll").click(function(){
      $("#enrollstu").toggle(10);
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollfac").hide();
      $("#showfac").hide();
      $("#showadmin").hide(); 
      $("#enrolladmin").hide();
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnenfac").click(function(){
      $("#enrollfac").toggle(10);
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#showfac").hide();
      $("#showadmin").hide(); 
      $("#enrolladmin").hide();
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnshowfac").click(function(){
      $("#showfac").toggle(10);
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#showadmin").hide();  
      $("#enrolladmin").hide();
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnadmin").click(function(){
      $("#showadmin").toggle(10);
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#enrolladmin").hide(); 
      $("#addadmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btnaddadmin").click(function(){
      $("#addadmin").toggle(10);
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#enrolladmin").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
     $("#btncourse").click(function(){
      $("#course").toggle(10);
      $("#addadmin").hide();
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#menuoption").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide(); 
      $("#facprofile").hide();
     });
     $("#home").click(function(){
      $("#addadmin").hide();
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#course").hide();
      $("#contact").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#menuoption").show();
      $("#stuprofile").hide();
      $("#showmarks").hide();
      $("#facprofile").hide();
     });
     $("#btncontact").click(function(){
      $("#contact").toggle();
      $("#addadmin").hide();
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#course").hide();
      $("#option").hide();
      $("#info").hide();
      $("#admprofile").hide();
      $("#menuoption").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
      $("#facprofile").hide();
     });
     $("#btninfo").click(function(){
      $("#info").toggle();
      $("#addadmin").hide();
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#course").hide();
      $("#option").hide();
      $("#contact").hide();
      $("#admprofile").hide();
      $("#menuoption").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
      $("#facprofile").hide();
     });
     $("#admimg").click(function(){
      $("#admprofile").toggle(1000);
      $("#info").hide();
      $("#addadmin").hide();
      $("#showadmin").hide();
      $("#showfac").hide();
      $("#marks").hide();
      $("#student").hide();
      $("#form1").hide();
      $("#entmark").hide();
      $("#enrollstu").hide();
      $("#enrollfac").hide();
      $("#course").hide();
      $("#option").hide();
      $("#contact").hide();
      $("#menuoption").hide();
      $("#stuprofile").hide();
      $("#showmarks").hide();
     });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){ 
    $("#course").hide();
    $("#option").hide();
    $("#contact").hide();    
    $("#stuprofile").show();
    $("#showmarks").hide();
    $("#stuimg").click(function(){
     $("#showmarks").hide();
     $("#course").hide();
      $("#option").hide();
      $("#contact").hide();
      $("#info").hide(); 
     $("#stuprofile").toggle(1000);   
     });
    $("#sturesultbtn").click(function(){
      $("#stuprofile").hide();
      $("#course").hide();
      $("#option").hide();
      $("#contact").hide();
      $("#info").hide();    //new
     $("#showmarks").toggle(1000); 
     });
    });
</script>
<script>
  
            function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('tbl_exporttable_to_xls');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('MarkSheet.' + (type || 'xlsx')));
        }

    </script>

<script type="text/javascript">
    $(document).ready(function(){ 
    $("#facprofile").hide();
    $("#facprofilebtn").click(function(){
     $("#facprofile").toggle(1000);  
     });
    });
  </script>

<script type="text/javascript">
  $(document).ready(function(){
     $("dflex").click(function(){
     var proceed = confirm("Are you sure you want to Delete?");

    if (proceed) 
    {     return true;
   } 
   
   else 
   {
    return false
    }
    });
     $("flex").click(function(){
      var proceed = confirm("Are you sure you want to Modify?");
    if (proceed) 
    {
      return true;
   } 
   else 
   {
    return false
    }
    });
   });
  </script>