{% extends 'base.html' %}
{% load static %}
{% block title %}Result View{% endblock title %}
{% block forgot %}  {% endblock %}
{% block sms %} {% endblock %}
{% block content %} 
<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
<table align="center">
  <tr>
    <td>
<div class="container align-item-center">
  <br>
  <form action='webresult' method="POST" name="f1" onsubmit="return validation();">
      {% csrf_token %}
                    <div class="form-outline flex-fill mb-2">
                      <label class="form-label" for="form3Example1c" style="color:green;">Roll No</label><label class="form-label" for="form3Example1c" style="color:red;">*</label>
                      <input type="text" name="rollno" class="form-control">
                    </div>
                      <div class="form-outline flex-fill mt-2 mb-2">
                      <label class="form-label" for="form3Example1c" style="color:green;">Session</label><label class="form-label" for="form3Example1c" style="color:red;">*</label><br>
                      <select name="session" class="btn btn-success btn-outline-warning">
                     <option selected>Session</option>
                     <option>2023-2027</option>
                     </select>
                     <select name="semester" class="btn btn-success btn-outline-warning">
                     <option selected>Semester</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     <option>6</option>
                     <option>7</option>
                     <option>8</option>
                     </select>
                     </div>
<button class="btn btn-info btn-outline-danger" style="color:black; font-size:15px; margin-left: 20px;">View Result</button>
</form>
</div>
</td>
</tr>
<tr>
    <tr><td>
  {% if messages %}
    {% for message in messages %}
        <span style="color: red; margin-left: 20px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style='font-size:30px;color:red;margin-top: 10px;"'></i>{{message}}</span>
    {% endfor %}
{% endif %}
</td>
</tr>
</table>

  

<script type="text/javascript">
function validation() 
  { 
    var rollno=document.f1.rollno.value;
    var sem=document.f1.semester.value;
    var ses=document.f1.session.value;


    if(rollno=="")
    {
      alert("Please Enter Your Roll NO");
      return false;
    }
    
    if(ses=="Session")
    {
      alert("Please Sellect Session");
      return false;
    }

     if(isNaN(sem))
    {
      alert("Please select Semester");
      return false;
    }
}
  </script>      
{% endblock %}
 {% block mainbody %} {% endblock %}